@import '../../assets/scss/config';

.content {
  padding-top: 1rem;
}

.bio {

  display: flex;

  img {
    display: block;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $secondary-color;
  }

  .resume {
    width: 70%;
    padding: 0 20px 0;
  }
}

.exper {
  width: 100%;
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  &-item {
    margin: 5px 5px 0;
    flex: 1 1 30%;
    height: auto;
    min-height: 250px;
    overflow: hidden;
    background: rgba(lighten($primary-color, 5), 0.7);
    border-bottom: 2px solid $secondary-color;
  }

  &-title {
    background: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px;
  }

  &-resume {
    padding: 5px;
  }
}

@include mediaXl {
  .exper-item {
    flex: 1 1 20%;
  }
}

@include mediaMd {
  .exper-item {
    flex: 1 1 45%;
  }
}

@include mediaSm {
  .bio {
    flex-flow: column wrap;
    align-items: center;

    .resume {
      width: 100%;
      padding: 0;
      margin: 1rem 0;
    }
  }

  .exper-item {
    flex: 1 1 100%;
  }
}
