@import '../../assets/scss/config';

.content {
  padding-top: 1rem;

  .classification {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;

    &-item {
      text-transform: uppercase;
      margin: 0 1rem;

      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }

      &.active {
        border-bottom: 1px solid $secondary-color;
      }
    }
  }
}
