<header>
  <div class="menu-btn" (click)="toggleMenu()" [class.close]="toggle">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <nav class="menu" [class.show]="toggle">
    <div class="menu-branding" [class.show]="toggle">
      <div class="portrait"></div>
    </div>
    <ul class="menu-nav" [class.show]="toggle">
      <li class="nav-item" [class.show]="toggle">
        <a routerLink="/" (click)="toggleMenu(250)">Home</a>
      </li>
      <li class="nav-item" [class.show]="toggle">
        <a routerLink="/about" (click)="toggleMenu(250)">About</a>
      </li>
      <li class="nav-item" [class.show]="toggle">
        <a routerLink="/my-works" (click)="toggleMenu(250)">My Work</a>
      </li>
      <li class="nav-item" [class.show]="toggle">
        <a routerLink="/contact" (click)="toggleMenu(250)">Contact</a>
      </li>
    </ul>
  </nav>
</header>
