@import '../../assets/scss/config';

header {
  position: fixed;
  z-index: 2;
  width: 100%;

}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  animation: focusOnMe 1s 4;
  // animation-duration: 2s;
  cursor: pointer;
  @include easeOut();

  &:hover>.btn-line {
    background: $secondary-color;
    box-shadow: 1px 1px 2px rgba(#000, 0.5);
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut();
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {

      // line 1 rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // line 2 hide
      &:nth-child(2) {
        opacity: 0;
      }

      // line 3 rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);
      }
    }
  }
}

@keyframes focusOnMe {
  0% {
    transform: scale3d(1, 1, 1)
  }

  50% {
    transform: scale3d(1.5, 1.5, 1.5)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 0.7);
    list-style: none;
    transform: translate3d(0, -100%, 0);

    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .nav-item {
      transform: translate3d(600px, 0, 0);
      width: 100%;
      text-align: center;

      &.show {
        transform: translate3d(0, 0, 0);
        @include easeOut();
      }

      .nav-link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        width: 100%;
        color: set-text-color($primary-color);

        &:hover {
          color: $secondary-color;
          text-shadow: 2px 2px 3px rgba(#000, 0.6);
          background: rgba(#fff, 0.2);
          @include easeOut();
        }
      }

      .active-link {
        color: $secondary-color;
        font-weight: 500;
      }
    }

    //delay nav-item
    @for $x from 1 through 4 {
      .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
      }
    }

  }

  &-branding {
    background: rgba($primary-color, 0.7);
    transform: translate3d(0, 100%, 0);
    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url(../../assets/img/ma_tronche.png) no-repeat;
      background-size: cover;
      background-position: -10px -70px;
      border-radius: 50%;
      border: 2px solid $secondary-color;
      transform: translate3d(-600px, 0, 0);

      &.show {
        transform: translate3d(0, 0, 0);
        @include easeOut();
      }
    }

    .portrait:first-child {
      transition-delay: 0.5s;
    }
  }

}

@include mediaSm {
  .menu {
    height: 100%;

    &-nav {
      min-height: 100vh;
    }

    &-branding {
      display: none;
    }
  }
}

@include mediaMd {
  .menu {

    align-items: center;
    text-align: center;

    &-branding,
    &-nav {
      float: none;
      width: 100%;

      &.show {
        transform: translate3d(0, 0, 0)
      }
    }

    &-branding {
      height: 25vh;
      transform: translate3d(-100%, 0, 0);
      @include easeOut();
    }

    &-nav {
      height: 75vh;
      transform: translate3d(100%, 0, 0);
      @include easeOut();
    }

    .portrait {
      width: 150px;
      height: 150px;
      background-position: -10px -40px;
    }
  }

}
