<header>
  <div class="menu-btn">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </div>

  <nav>
    <div class="men-branding">
      <div class="portrait"></div>
    </div>
    <ul class="menu-nav">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a routerLink="/about">About</a></li>
      <li class="nav-item"><a routerLink="/my-works">My Work</a></li>
      <li class="nav-item"><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
