<header>
  <div class="menu-btn" (click)="toggleMenu(0)" [class.close]="toggle">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <nav class="menu" [class.show]="toggle">
    <div class="menu-branding" [class.show]="toggle">
      <div class="portrait" [class.show]="toggle"></div>
    </div>
    <ul class="menu-nav" [class.show]="toggle">
      <li *ngFor="let menu of menus" class="nav-item" [class.show]="toggle">
        <a [routerLink]="menu.url" (click)="toggleMenu(250)" routerLinkActive="active-link" class="nav-link">{{
          menu.name }}</a>
      </li>
    </ul>
  </nav>
</header>
