@import './assets/scss/config';

* {
  box-sizing: border-box;
}

body {
  @include background();
  background-color: $primary-color;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: set-text-color($primary-color);
  line-height: 1.5;
}

main {
  min-height: 94vh;
  padding: 10px 25px 0;
  overflow: hidden;
}

footer {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  background: darken($primary-color, 1);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary-color, 3), 0.5);
    border-bottom: rgba(#fff, 0.2) 1px solid;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

@include mediaSm {
  main {
    align-items: center;
    text-align: center;

    h1,
    h2,
    h3 {
      &.lg-heading {
        font-size: 2rem;
        max-width: 80%;
        line-height: 2rem;
        margin: 25px auto;
      }
    }

  }
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}
