<div class="content">
  <h1 class="lg-heading">Perdaf <span class="text-secondary">Steeve</span></h1>
  <h2 class="sm-heading">Web developper full-stack, Graphiste <span class="text-secondary">&</span> Entrepreneur</h2>
  <div class="icons">
    <a href="https://www.behance.net/spartdesign972" target="blank"><i class="fab fa-behance-square fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/steeve-perdaf-2b778215b/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="https://www.youtube.com/user/codekiller33" target="blank"><i class="fab fa-youtube-square fa-2x"></i></a>
  </div>
</div>
