<app-showitem [imgInfos]="imgInfos"></app-showitem>

<div class="work-item">
  <div class="project" *ngFor="let workItem of workItems" [class.show]="show">
    <div class="link-img">
      <img class="work-img" src={{workItem.imgUrl}} alt={{workItem.name}}>
    </div>
    <div class="work-info" *ngIf="workItem.visuel" (click)="sendInfo(workItem.imgUrl)">
      <i class="fas fa-eye"></i>
      {{workItem.name}}
    </div>
    <div class="btn btn-cat">
      {{workItem.categorie | uppercase}}
    </div>
    <a [href]="workItem.url" class="btn btn-light" *ngIf="workItem.url" target="blank">
      <i class="fas fa-eye"> site </i>
    </a>
    <a [href]="workItem.gitUrl" target="blank" class="btn btn-dark" *ngIf="workItem.gitUrl">
      <i class="fab fa-github"> github</i>
    </a>
  </div>
</div>
